*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times;
    font-weight: normal;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .Calculator-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    }
   .Calculator-grid > button {
        cursor: pointer;
        font-size: 2rem;
        border: 1px, solid #FFFFFF;
        outline: black;
        background-color: rbga(255, 255, 255, 0.75);
      }
  
    .Calculator-grid > button:hover {
          background-color: #c49a5a;
        }
