body {
    background-color: #f0fff0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
}
.image-wrapper img {
    margin-bottom: 20px;
}
.image-wrapper button {
    background-color: #4caf50;
    color: white;
    padding: 8px 50px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}